body {
    background-color: #eeeeee;
    color: #222831;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', sans-serif;
    color: #393e46;
}

a {
    color: #d65a31;
}

code {
    font-family: 'Roboto Mono', monospace;
    border-radius: .4rem;
    padding: .8rem !important;
}

table {
    border-spacing: 0;
    border: 2px solid #393e46;
}

th, td {
    padding: .4rem;
}

thead, tr:nth-child(2) {
    background-color: #ddd;
    text-align: left;
}